.navbar{
  background-color: #78ACC1;
}
.main-nav{
  box-shadow: 0px 2px 5px #777;
}
body{
  background-color:#ebebe0;
}
.navbar-brand{
  font-family: Lucida Handwriting;
}
.welcome{
  background-color: #dedeea;
}
.col-md{
  font-size: 60px;
  color: #330033;
  font-family: Trebuchet MS;
}
.eunoia{
  color:  #cc00cc
}
.btn {
  background-color: #61678b;
  font-size: 40px;
}
.carousel-item {
  height: 400px;
}
.icon{
  display: flex;
  padding: auto;
  margin: 0;
  border-radius: 130px;
  background-color: #78ACC1;
}
.caption{
  font-size: 20px;
  color: #660066;
  font-weight: bold;
  font-family: Trebuchet MS;

}
.caption:hover{
  font-size: 2em;
  transition: 0.6s ease;

}
.details{
  text-align: justify;
  text-justify: inter-word;
  color: #61678B;
  font-weight: bold;
  font-family: helvetica;
}
